.DS_Store
/LeapQuartzComposer.xcodeproj/xcuserdata/
/LeapQuartzComposer.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/WorkspaceSettings.xcsettings
/LeapQuartzComposer.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate
/LeapQuartzComposer/LeapSDK/