<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string></string>
		<key>FriendlyName</key>
		<string></string>
		<key>Type</key>
		<string></string>
		<key>DefaultValue</key>
		<string></string>
		<key>Comment</key>
		<string></string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string></string>
		<key>ValueChangedBody</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>useDictionariesToRepresentVectors</string>
		<key>FriendlyName</key>
		<string>Use dictionaries to represent vectors</string>
		<key>Type</key>
		<string>bool</string>
		<key>DefaultValue</key>
		<string>YES</string>
		<key>Comment</key>
		<string>Dictates the type of QC compativle construct used to represent vectors</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string>helper.outputVectorsAsDictionaries</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>vectorsIncludeYawPitchRoll</string>
		<key>FriendlyName</key>
		<string>Vectors include Yaw Pitch Roll</string>
		<key>Type</key>
		<string>bool</string>
		<key>DefaultValue</key>
		<string>YES</string>
		<key>Comment</key>
		<string>Dictates whether or not vectors include yaw pitch and roll</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string>helper.outputYawPitchRoll</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Frame</string>
		<key>FriendlyName</key>
		<string>Frame</string>
		<key>Type</key>
		<string>dictionary</string>
		<key>DefaultValue</key>
		<string></string>
		<key>Comment</key>
		<string>Information about the frame</string>
		<key>IsInput</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>hands</string>
		<key>FriendlyName</key>
		<string>Hands</string>
		<key>Type</key>
		<string>array</string>
		<key>Comment</key>
		<string>Array of Hand structures</string>
		<key>IsInput</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fingers</string>
		<key>FriendlyName</key>
		<string>Fingers</string>
		<key>Type</key>
		<string>array</string>
		<key>Comment</key>
		<string>Array of Finger structures</string>
		<key>IsInput</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>ReturnFrame</string>
		<key>FriendlyName</key>
		<string>Should Return Frame</string>
		<key>Type</key>
		<string>bool</string>
		<key>DefaultValue</key>
		<string>YES</string>
		<key>Comment</key>
		<string>Dictates whether or not frame object is created</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string></string>
		<key>ValueChangedBody</key>
		<string></string>
	</dict>
</array>
</plist>
